// Cores =====================
$green: #52bf56;
$green2: #00bb44;
$green_medium: #15a701;
$green_soft: #cfffd1;

$white: #ffffff;
$black: #000000;

$light_gray: #eceef2;
$light_gray2: #cecece;
$light_gray3: #f9f9f9;

$red: #fe2504;
$red2: #ff0000;
$red_soft: #ffdddc;

// social networks ------------
$facebook_color: #3b5998;
$flickr_color: #ff0084;
$google_maps_color: #ea4335;
$instagram_color: #833ab4;
$instagram_gradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$linkedin_color: #0077b5;
$twitter_color: #1da1f2;
$youtube_color: #ff0000;
$whatsapp_color: #25d366;
// ----------------------------